@model IEnumerable<CBTEvent>
	<div class="card col shadow-sm">

		<table class="table table-bordered table-striped table-hover">
			<tr>
				<th class="text-center">№</th>
				<th class="text-center">Дата</th>
				<th class="text-center">Событие</th>
				<th class="text-center">Действие</th>
			</tr>
			@foreach (CBTEvent item in Model)
			{
		<tr>
			<td>@item.Id</td>
			<td>@item.EventCreate</td>
			<td>Какое то событие</td>
			<td>Какое то действие</td>

		</tr>
			}
		</table>
	</div>
