@model RegisterViewModel


<div class="container p-0">
    <div class="card">
        <div class="card-header">Регистрация нового пользователя</div>
        <div class="card-body">

            <form method="post" asp-controller="Account" asp-action="Register">
                <h2 class="text-center">CBT Регистрация</h2>
                <div asp-validation-summary="ModelOnly"></div>
				<div class="form-group">
					<div><span asp-validation-for="Email" class="text-danger"></span></div>
					<input asp-for="Email" class="form-control" placeholder="Email" />

				</div>
				<div class="form-group">
					<div><span asp-validation-for="Password" class="text-danger"></span></div>
					<input asp-for="Password" class="form-control" placeholder="Password" />
					
				</div>
				<div class="form-group">
					<div><span asp-validation-for="PasswordConfirm" class="text-danger"></span></div>
					<input asp-for="PasswordConfirm" class="form-control" placeholder="PasswordConfirm" />
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block" type="submit">Регистрация</button>
				</div>
            </form>
            <div>
                <a asp-controller="Home" asp-action="Index">На главную</a>
            </div>
        </div>
    </div>
</div>